.git
.github
.specify
.opencode
node_modules
specs
docs
coverage
data
*.db
*.db-journal
*.db-wal
*.db-shm
dist
dist-app
dist-lib
dist-storybook
build
*.log
.env
.env.*
*.tpl
.pnpm-store
.vscode
.DS_Store
Thumbs.db